<ion-header>
  <ion-navbar>
    <ion-title>
      Cars Stock
      <ion-buttons end>
        <button
          *ngIf="!displayForm"
          ion-button
          color="primary"
          (click)="logOut()">
          Log Out
        </button>
      </ion-buttons>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="center">


  <form
    *ngIf="displayForm"
    [formGroup]="form"
    (ngSubmit)="logIn()">


      <ion-item >


        <ion-label color="primary" floating>Email</ion-label>
        <ion-input   type="email"
                     formControlName="email" [class.invalid]="!form.controls.email.valid && blur">

      damiansantae@gmail.com  </ion-input>

      </ion-item>


      <ion-item>
        <ion-label color="primary" floating>Password</ion-label>
        <ion-input
          type="password"
          formControlName="password" [class.invalid]="!form.controls.password.valid && blur">
          123456
        </ion-input>
      </ion-item>


      <button
        ion-button round
        color="primary"
        text-center
        block [disabled]="!form.valid">Log In</button>


    <!--<p>{{ displayError }}</p>-->
  </form>

  <button ion-button block clear (click)="goToSignup()">
    Create a new account
  </button>

  <button ion-button block clear (click)="goToResetPwd()">
    I forgot my password
  </button>


 <!-- <div *ngIf="!displayForm">
    <h1 *ngIf="_AUTH.user | async">Welcome {{ (_AUTH.user | async)?.email }}!</h1>
    <p>Logged in bro!</p>
  </div>-->

</ion-content>
