<!--
  Generated template for the Todos page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cars List List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div text-center="true" padding="5%">

  <ion-img  width="100" height="100" src="{{brand.image}}"></ion-img>
  <h3>{{brand.name}}</h3>
  {{brand.info}}



    <!-- <ion-item-divider *ngIf="(todoService.todos | doneTodosPipe).length > 0">Done tasks</ion-item-divider>
     <ion-item *ngFor="let todo of todoService.todos | doneTodosPipe" [ngStyle]="setTodoStyles(todo)">
       <ion-label color="light">{{todo.description}}</ion-label>
       <ion-checkbox color="light" [checked]="todo.isDone" (click)="toogleTodo(todo)"></ion-checkbox>
     </ion-item>-->

</div>
  <ion-fab bottom right>
    <button ion-fab (click)="brandService.setSeenBrand(brand)"><ion-icon name="eye"></ion-icon></button>
  </ion-fab>
</ion-content>


