<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end *ngIf="selectedBrand != null">
      <button ion-button (click)="removeSelectedBrand()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Car Brands</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshBrands($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding
      class="brand"
      text-wrap
      *ngFor="let brand of brandService.brands"
      (press)="selectBrand(brand)" [ngClass]="{'selected-brand': selectedBrand === brand}">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ brand.image }}">
        </ion-avatar>
        <h2>{{ brand.name }}</h2>

      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary"
                (tap)="brandService.setSeenBrand(brand)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>

      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="edit"></ion-icon>
          Edit
        </button>
      </ion-item-options>

     <!-- <div class="manage-record" padding>
        <button
          ion-button
          text-center
          color="primary">
          &lt;!&ndash;(click)=""
          &ndash;&gt;Edit
        </button>

        <button
          ion-button
          text-center
          color="danger"
          (click)="brandService.removeBrand(brand)">Delete</button>
      </div>
      (tap)="goToBrand(brand)"-->

    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="showAddBrand()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>


